<body>

    <!-- First Section Description Banner -->
    <div class="uk-grid-collapse uk-text-center section-title" uk-grid>
        <div class="uk-width-expand">
            <div class="uk-card uk-card-default  uk-card-body" id="first-section">
                <h3 id="first-section-title">Advanced Analytics</h3>
            </div>
        </div>
    </div>
    <!-- First Section 1 info -->

    <div class="uk-child-width-1-2@s uk-grid-match blog" id="AAparentDiv" uk-grid>
        <div>
            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-border-circle" width="60" height="60" src="img/cumple/Antony Escobar.PNG">
                        </div>
                        <div class="uk-width-expand name">
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Antony Escobar</p>
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Data Scientist
                                Finanzas</p>
                            <p class="uk-text-meta uk-margin-remove-top">antony.escobar@bbva.com</p>
                        </div>
                        <div>
                            <h4 class="uk-margin-remove-bottom"> RORC Térmico Diario</h4>
                        </div>
                    </div>
                </div>
                <div class="uk-card-body">
                    <p class="large-text">
                        Es bien dicho que el time to market es un must have, pero nunca se ha hecho tan relevante como
                        en el contexto actual, el COVID 19 reta muchos frentes en el sistema financiero, por tanto, en
                        el presente artículo se pretende mostrar cómo desde Profitability se logró estimar una métrica
                        rentabilidad (RORC/RAROEC) a nivel banco con un ANS de D+1, utilizando estimadores en base a la
                        historia y características del cliente y operación.
                    </p>
                </div>
                <div class="uk-card-footer">
                    <a href="https://docs.google.com/document/d/1dpGu8dYCFO76k0ofUQzZFA1gesMF6qmfhin3-cxKqho/edit?usp=sharing"
                        class="uk-button uk-button-text buttonAA" id="aa-ed4-1" target="_blank">Leer más</a>
                </div>
            </div>
        </div>

        <div>
            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-border-circle" width="60" height="60" src="img/yuri-lingan.jpg">
                        </div>
                        <div class="uk-width-expand name">
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Yuri Lingan</p>
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Data Scientist
                                Finanzas</p>
                            <p class="uk-text-meta uk-margin-remove-top">yuri.lingan@bbva.com</p>
                        </div>
                        <div>
                            <h4 class="uk-margin-remove-bottom">Cálculo de Product Relative Value
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="uk-card-body">
                    <p class="large-text">Para impulsar que BBVA sea un banco digital, se hace necesario la
                        determinación de un KPI que permita enfocarnos en aquellos productos que aporten mayor
                        rentabilidad a través de este canal. Desde Finanzas venimos calculando el PRV (Product Relative
                        Value) bajo metodología corporativa y tomando como input, tanto la base de nueva producción,
                        como el Stock, para los distintos productos de la Banca Comercial.

                    </p>
                </div>
                <div class="uk-card-footer">
                    <a href="https://docs.google.com/document/d/1CTk1StVoV3yuVFh6EPzFD2UjwjX7p2RlA_MAM8HlZ30/edit?usp=sharing"
                        class="uk-button uk-button-text buttonAA" id="aa-ed4-2" style="font-weight: 500;"
                        target="_blank">Leer más</a>
                </div>
            </div>
        </div>

        <div>
            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-border-circle" width="60" height="60" src="img/linda_anicama.jpeg">
                        </div>
                        <div class="uk-width-expand name">
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Linda Anicama
                            </p>
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Data Scientist CS
                            </p>
                            <p class="uk-text-meta uk-margin-remove-top">linda.anicama@bbva.com </p>
                        </div>
                        <div>
                            <h4 class="uk-margin-remove-bottom">Modelo de Compra Deuda de TC realizada por la
                                competencia
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="uk-card-body">
                    <p>
                        Este estudio parte de la preocupación sobre los saldos de tarjeta de crédito BBVA que tenemos
                        con nuestros clientes que migran hacia la competencia a través de la compra deuda de tarjeta de
                        crédito, estos saldos migrados ascienden a S/. 42MM mensual en promedio, por ello, Se tuvo la
                        necesidad de alertar las posibles fugas de saldos, lo que llevó a desarrollar el modelo de
                        propensión a la compra deuda, donde a partir de 277 variables y uso de herramientas machine
                        learning se priorizaron 19 variables gatilladoras que explican este evento en periodos Pre-Covid
                        y Covid. Ahora se encuentra en piloto para las campañas de retención en Octubre.

                    </p>
                </div>
                <div class="uk-card-footer">
                    <a href="https://docs.google.com/document/d/1U_ZCqVGzu7pE59XzWjiE8SReLO7aCgtsJpX-AXVa_ZA/edit?usp=sharing"
                        class="uk-button uk-button-text buttonAA" id="aa-ed4-3" style="font-weight: 500;"
                        target="_blank">Leer más</a>
                </div>
            </div>
        </div>



    </div>
    <script>
        function checkWidth() {
            var w = window.innerWidth
            var h = window.innerHeight
            if (w < 500) {
                var aaDIV = document.getElementById("AAparentDiv")
                aaDIV.classList.remove("uk-child-width-1-2@s")
                aaDIV.classList.add("uk-child-width-1-1@s")
                var texts = document.getElementsByClassName("large-text")

                for (var i = 0; i < texts.length; i++) {
                    texts[i].style.overflow = "hidden"
                }

                var names = document.getElementsByClassName("name")
                //console.log(names, names.length)
                for (var j = 0; j < names.length; j++) {
                    item = names[j]
                    item.classList.add("hiddenStyle")
                    item.classList.remove("showStyle")
                }
            }
            else if (w < 920) {
                var aaDIV = document.getElementById("AAparentDiv")
                aaDIV.classList.remove("uk-child-width-1-2@s")
                aaDIV.classList.add("uk-child-width-1-1@s")
                var texts = document.getElementsByClassName("large-text")

                for (var i = 0; i < texts.length; i++) {
                    texts[i].style.overflow = "hidden"
                }
                var names = document.getElementsByClassName("name")
                //console.log(names, names.length)
                for (var i = 0; i < names.length; i++) {
                    item = names[i]
                    item.classList.remove("hiddenStyle")
                    item.classList.add("showStyle")
                }
            }
            else {
                var aaDIV = document.getElementById("AAparentDiv")
                aaDIV.classList.add("uk-child-width-1-2@s")
                aaDIV.classList.remove("uk-child-width-1-1@s")
                var names = document.getElementsByClassName("name")
                //console.log(names, names.length)
                for (var i = 0; i < names.length; i++) {
                    item = names[i]
                    item.classList.remove("hiddenStyle")
                    item.classList.add("showStyle")
                }
            }
        }
        $(document).ready(function () {
            checkWidth();
        })
        window.addEventListener("resize", function () {
            checkWidth();
        });

    </script>

</body>