<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-167171727-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-167171727-2');
    </script>

    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-WGVZLLQ');</script>
    <!-- End Google Tag Manager -->
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WGVZLLQ" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div style="text-align: center; padding-bottom: 100px;">
        <a class="uk-button uk-button-default" href="#modal-full" style="background-color: #ff93b8;" id="ack-ed2-2"
            uk-toggle>
            Mira quiénes cumplen años y/o aniversarios
            <div class="uk-width-auto">
                <img class="uk-border-circle" width="40" height="40" src="img/birthday.png">
            </div>
            <div class="uk-width-auto">
                <img class="uk-border-circle" width="40" height="40" src="img/anniversary.png">
            </div>
        </a>

        <div id="modal-full" class="uk-modal-full" uk-modal>
            <div class="uk-modal-dialog" style="background-color: white; height: 100vh;">
                <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
                <div class="uk-text-center" uk-grid>
                    <div class="uk-child-width-1-1@s uk-grid-small uk-text-center" uk-grid
                        style="background-color: white;">
                        <h1 style="">Cumpleaños</h1>
                    </div>
                </div>

                <div class="uk-child-width-1-6@s uk-grid-small uk-grid-match birthdayCard" uk-grid
                    style="background-color: white;">
                    <div class="birthdayCard">
                        <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50"
                                    src="img/Jaime Alcantara Pinedo.PNG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Jaime Alcántara</p>
                                <p class="" style="margin: 0; padding: 0;">Finanzas</p>
                                <p class="" style="margin: 0; padding: 0;">1 de Septiembre</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/birthday.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Cumpleaños!</p>
                            </div>
                        </div>
                    </div>
                    <div class="birthdayCard">
                        <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50" src="img/Andrea Lugaro.PNG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Andrea Lugaro</p>
                                <p class="" style="margin: 0; padding: 0;">Finanzas</p>
                                <p class="" style="margin: 0; padding: 0;">11 de Septiembre</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/birthday.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Cumpleaños!</p>
                            </div>
                        </div>
                    </div>
                    <div class="birthdayCard">
                        <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50" src="img/Carlos Paz.PNG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Carlos Paz</p>
                                <p class="" style="margin: 0; padding: 0;">Client Solutions</p>
                                <p class="" style="margin: 0; padding: 0;">11 de Septiembre</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/birthday.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Cumpleaños!</p>
                            </div>
                        </div>
                    </div>
                    <div class="birthdayCard">
                        <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50"
                                    src="img/cumple/Marcelo Arakaki.PNG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Marcelo Arakaki</p>
                                <p class="" style="margin: 0; padding: 0;">Client Solutions</p>
                                <p class="" style="margin: 0; padding: 0;">14 de Agosto</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/birthday.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Cumpleaños!</p>
                            </div>
                        </div>
                    </div>
                    <div class="birthdayCard">
                        <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50"
                                    src="img/cumple/Dianne Isabel Giraldo.PNG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Dianne Giraldo</p>
                                <p class="" style="margin: 0; padding: 0;">Finanzas</p>
                                <p class="" style="margin: 0; padding: 0;">17 de Agosto</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/birthday.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Cumpleaños!</p>
                            </div>
                        </div>
                    </div>
                    <div class="birthdayCard">
                        <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50" src="img/cumple/Dante Burga.PNG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Dante Burga</p>
                                <p class="" style="margin: 0; padding: 0;">Ingeniería</p>
                                <p class="" style="margin: 0; padding: 0;">18 de Agosto</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/birthday.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Cumpleaños!</p>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="uk-child-width-1-6@s uk-grid-small uk-grid-match birthdayCard" uk-grid
                    style="background-color: white;">
                    <div class="birthdayCard">
                        <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50" src="img/cumple/Hugo Solano.PNG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Hugo Solano</p>
                                <p class="" style="margin: 0; padding: 0;">Riesgos</p>
                                <p class="" style="margin: 0; padding: 0;">21 de Agosto</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/birthday.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Cumpleaños!</p>
                            </div>
                        </div>
                    </div>
                    <div class="birthdayCard">
                        <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50" src="img/cumple/Oscar Dueñas.PNG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Oscar Dueñas</p>
                                <p class="" style="margin: 0; padding: 0;">Finanzas</p>
                                <p class="" style="margin: 0; padding: 0;">22 de Agosto</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/birthday.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Cumpleaños!</p>
                            </div>
                        </div>
                    </div>
                    <div class="birthdayCard">
                        <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50"
                                    src="img/cumple/Vanessa Belapatiño.PNG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Vanessa Belapatiño</p>
                                <p class="" style="margin: 0; padding: 0;">Estudios Económicos</p>
                                <p class="" style="margin: 0; padding: 0;">22 de Agosto</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/birthday.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Cumpleaños!</p>
                            </div>
                        </div>
                    </div>
                    <div class="birthdayCard">
                        <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50" src="img/cumple/Linda Anicama.PNG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Linda Anicama</p>
                                <p class="" style="margin: 0; padding: 0;">Client Solutions</p>
                                <p class="" style="margin: 0; padding: 0;">24 de Agosto</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/birthday.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Cumpleaños!</p>
                            </div>
                        </div>
                    </div>
                    <div class="birthdayCard">
                        <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50"
                                    src="img/cumple/Janeth Vasquez.PNG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Janeth Vasquez</p>
                                <p class="" style="margin: 0; padding: 0;">Riesgos</p>
                                <p class="" style="margin: 0; padding: 0;">29 de Agosto</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/birthday.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Cumpleaños!</p>
                            </div>
                        </div>
                    </div>
                    <div class="birthdayCard">
                        <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50" src="img/cumple/Nataly Avila.PNG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Nataly Avila</p>
                                <p class="" style="margin: 0; padding: 0;">Client Solutions</p>
                                <p class="" style="margin: 0; padding: 0;">31 de Agosto</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/birthday.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Cumpleaños!</p>
                            </div>
                        </div>
                    </div>
                </div>





                <div class="uk-text-center" uk-grid style="background-color: white; margin: 0; padding-top: 50px;">
                    <div class="uk-child-width-1-1@s uk-grid-small uk-text-center" uk-grid
                        style="background-color: white;">
                        <h1 style="">Aniversarios</h1>
                    </div>
                </div>
                <div class="uk-child-width-1-6@s uk-grid-small uk-grid-match" uk-grid
                    style="background-color: white; margin: 0; padding-top: 15px;">
                    <div class="birthdayCard">
                        <div class="uk-card uk-card-default uk-card-small uk-card-body uk-align-center"
                            style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50" src="img/cumple/Roxana Yauri.PNG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Roxana Yauri</p>
                                <p class="" style="margin: 0; padding: 0;">Riesgos</p>
                                <p class="" style="margin: 0; padding: 0;">1 de Agosto - 9 años en BBVA</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/anniversary.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                            </div>
                        </div>
                    </div>

                    <div class="birthdayCard">
                        <div class="uk-card uk-card-default uk-card-small uk-card-body uk-align-center"
                            style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50"
                                    src="img/cumple/Roberto Guzman.PNG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Roberto Guzmán</p>
                                <p class="" style="margin: 0; padding: 0;">Riesgos</p>
                                <p class="" style="margin: 0; padding: 0;">1 de Agosto - 9 años en BBVA</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/anniversary.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                            </div>
                        </div>
                    </div>
                    <div class="birthdayCard">
                        <div class="uk-card uk-card-default uk-card-small uk-card-body uk-align-center"
                            style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50"
                                    src="img/cumple/Juan Carlos Barreda.PNG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Juan Carlos Barreda</p>
                                <p class="" style="margin: 0; padding: 0;">CIB</p>
                                <p class="" style="margin: 0; padding: 0;">1 de Agosto - 14 años en BBVA</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/anniversary.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                            </div>
                        </div>
                    </div>
                    <div class="birthdayCard">
                        <div class="uk-card uk-card-default uk-card-small uk-card-body uk-align-center"
                            style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50"
                                    src="img/cumple/Horacio Eustaquio.PNG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Horacio Eustaquio</p>
                                <p class="" style="margin: 0; padding: 0;">Finanzas</p>
                                <p class="" style="margin: 0; padding: 0;">1 de Agosto - 19 años en BBVA</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/anniversary.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                            </div>
                        </div>
                    </div>
                    <div class="birthdayCard">
                        <div class="uk-card uk-card-default uk-card-small uk-card-body uk-align-center"
                            style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50"
                                    src="img/cumple/Elier Ayzaguirre.PNG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Elier Eyzaguirre</p>
                                <p class="" style="margin: 0; padding: 0;">Riesgos</p>
                                <p class="" style="margin: 0; padding: 0;">1 de Agosto - 31 años en BBVA</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/anniversary.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                            </div>
                        </div>
                    </div>
                    <div class="birthdayCard">
                        <div class="uk-card uk-card-default uk-card-small uk-card-body uk-align-center ani-5"
                            style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50" src="img/cumple/Aleida Valle.PNG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Aleida Valle</p>
                                <p class="" style="margin: 0; padding: 0;">Riesgos</p>
                                <p class="" style="margin: 0; padding: 0;">2 de Agosto - 10 años en BBVA</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/anniversary.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="uk-child-width-1-6@s uk-grid-small uk-grid-match" uk-grid
                    style="background-color: white; margin: 0; padding-top: 15px;">
                    <div>
                        <div class="uk-card uk-card-default uk-card-small uk-card-body uk-align-center"
                            style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50"
                                    src="img/cumple/Janet Mañuico.PNG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Janet Mañuico</p>
                                <p class="" style="margin: 0; padding: 0;">Finanzas</p>
                                <p class="" style="margin: 0; padding: 0;">2 de Agosto - 21 años en BBVA</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/anniversary.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-default uk-card-small uk-card-body uk-align-center"
                            style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50"
                                    src="img/cumple/Jonathan Matta.PNG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Jonathan Matta</p>
                                <p class="" style="margin: 0; padding: 0;">Riesgos</p>
                                <p class="" style="margin: 0; padding: 0;">8 de Agosto - 2 años en BBVA</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/anniversary.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-default uk-card-small uk-card-body uk-align-center ani-5"
                            style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50"
                                    src="img/cumple/Dora de la Fuente.PNG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Dora Vera</p>
                                <p class="" style="margin: 0; padding: 0;">Client Solutions</p>
                                <p class="" style="margin: 0; padding: 0;">9 de Agosto - 10 años en BBVA</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/anniversary.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-default uk-card-small uk-card-body uk-align-center ani-5"
                            style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50"
                                    src="img/cumple/Lizeth Huamani.PNG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Lizeth Huamaní</p>
                                <p class="" style="margin: 0; padding: 0;">Client Solutions</p>
                                <p class="" style="margin: 0; padding: 0;">15 de Agosto - 1 años en BBVA</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/anniversary.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-default uk-card-small uk-card-body uk-align-center"
                            style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50" src="img/cumple/Linda Anicama.PNG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Linda Anicama</p>
                                <p class="" style="margin: 0; padding: 0;">Client Soltions</p>
                                <p class="" style="margin: 0; padding: 0;">15 de Agosto - 2 años en BBVA</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/anniversary.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-default uk-card-small uk-card-body uk-align-center"
                            style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50"
                                    src="img/cumple/Claudia Tataje.PNG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Claudia Tataje</p>
                                <p class="" style="margin: 0; padding: 0;">Client Soltions</p>
                                <p class="" style="margin: 0; padding: 0;">15 de Agosto - 3 años en BBVA</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/anniversary.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="uk-child-width-1-6@s uk-grid-small uk-grid-match" uk-grid
                    style="background-color: white; margin: 0; padding-top: 15px;">
                    <div>
                        <div class="uk-card uk-card-default uk-card-small uk-card-body uk-align-center"
                            style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50"
                                    src="img/cumple/Madeleine LLumpo.PNG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Madelaine Llumpo</p>
                                <p class="" style="margin: 0; padding: 0;">Client Solutions</p>
                                <p class="" style="margin: 0; padding: 0;">15 de Agosto - 4 años en BBVA</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/anniversary.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="uk-card uk-card-default uk-card-small uk-card-body uk-align-center ani-5"
                            style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50"
                                    src="img/cumple/foto_Julio Sotelo.jpg">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Julio Sotelo</p>
                                <p class="" style="margin: 0; padding: 0;">Riesgos</p>
                                <p class="" style="margin: 0; padding: 0;">15 de Agosto - 5 años en BBVA</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/anniversary.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="uk-card uk-card-default uk-card-small uk-card-body uk-align-center"
                            style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50"
                                    src="img/cumple/Cynthia Zumaran.PNG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Cynthia Zumaran</p>
                                <p class="" style="margin: 0; padding: 0;">Riesgos</p>
                                <p class="" style="margin: 0; padding: 0;">15 de Agosto - 14 años en BBVA</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/anniversary.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                            </div>
                        </div>
                    </div>


                    <div>
                        <div class="uk-card uk-card-default uk-card-small uk-card-body uk-align-center"
                            style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50"
                                    src="img/cumple/Juan Carlos Davey.PNG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Juan Carlos Davey</p>
                                <p class="" style="margin: 0; padding: 0;">Finanzas</p>
                                <p class="" style="margin: 0; padding: 0;">16 de Agosto - 41 años en BBVA</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/anniversary.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="uk-card uk-card-default uk-card-small uk-card-body uk-align-center"
                            style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50"
                                    src="img/cumple/Giovanna Taipe.PNG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Giovanna Taipe</p>
                                <p class="" style="margin: 0; padding: 0;">Client Solutions</p>
                                <p class="" style="margin: 0; padding: 0;">18 de Agosto - 12 años en BBVA</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/anniversary.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="uk-card uk-card-default uk-card-small uk-card-body uk-align-cente ani-5"
                            style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50"
                                    src="img/cumple/Jose Antonio Avilez.PNG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Jose Antonio Avilez</p>
                                <p class="" style="margin: 0; padding: 0;">Riesgos</p>
                                <p class="" style="margin: 0; padding: 0;">19 de Agosto - 1 años en BBVA</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/anniversary.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="uk-child-width-1-6@s uk-grid-small uk-grid-match" uk-grid
                    style="background-color: white; margin: 0; padding-top: 15px;">
                    <div>
                        <div class="uk-card uk-card-default uk-card-small uk-card-body uk-align-center"
                            style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50"
                                    src="img/cumple/Antony Escobar.PNG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Antony Escobar</p>
                                <p class="" style="margin: 0; padding: 0;">Finanzas</p>
                                <p class="" style="margin: 0; padding: 0;">21 de Agosto - 3 años en BBVA</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/anniversary.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="uk-card uk-card-default uk-card-small uk-card-body uk-align-center"
                            style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50" src="img/cumple/Jorge Barreto.PNG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Jorge Barreto</p>
                                <p class="" style="margin: 0; padding: 0;">Client Solutions</p>
                                <p class="" style="margin: 0; padding: 0;">21 de Agosto - 19 años en BBVA</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/anniversary.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="uk-card uk-card-default uk-card-small uk-card-body uk-align-center ani-5"
                            style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50" src="img/cumple/Miguel Pezo.PNG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Miguel Pezo</p>
                                <p class="" style="margin: 0; padding: 0;">Ingeniería</p>
                                <p class="" style="margin: 0; padding: 0;">23 de Agosto - 10 años en BBVA</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/anniversary.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                            </div>
                        </div>
                    </div>
                </div>





            </div>



        </div>
    </div>
</body>