<head>
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-WGVZLLQ');</script>
    <!-- End Google Tag Manager -->
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WGVZLLQ" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- Second Section Description Banner -->
    <div class="uk-grid-collapse uk-text-center section-title" uk-grid>
        <div class="uk-width-expand">
            <div class="uk-card uk-card-default uk-card-body" id="second-section">
                <h3 id="second-section-title">Data Governance</h3>
            </div>
        </div>
    </div>
    <!-- Second Section Description Cards -->
    <div class="uk-child-width-1-2@s uk-grid-match blog" id="DGparentDiv" uk-grid>
        <div>
            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-border-circle" width="60" height="60" src="img/21-Paola Fonseca.PNG">
                        </div>
                        <div class="uk-width-expand name">
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Paola Fonseca
                            </p>
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">DPM</p>
                            <p class="uk-text-meta uk-margin-remove-top">paola.fanseca@bbva.com</p>
                        </div>
                        <div>
                            <h4 class="uk-margin-remove-bottom">Gobierno de reportes SREP</h4>
                        </div>
                    </div>
                </div>
                <div class="uk-card-body">
                    <p class="large-text">
                        Como parte del marco de gobierno de los procesos que se están viendo en el proyecto de SREP,
                        se realizó un despliegue en Datum de la documentación de los reportes que se envían a Holding
                        producto de estos procesos.
                    </p>
                </div>
                <div class="uk-card-footer">
                    <a href="https://docs.google.com/document/d/16tRvPiHhpd2dDqwv7gMcvbFvCd3YInIDVhWRg9aM2y8/edit?usp=sharing"
                        class="uk-button uk-button-text buttonDG" id="dg-ed4-1" style="font-weight: 500;"
                        target="_blank">Leer más</a>
                </div>
            </div>
        </div>
    </div>
    <script>
        function checkWidthDG() {
            var w = window.innerWidth
            var h = window.innerHeight

            if (w < 920) {
                var aaDIV = document.getElementById("DGparentDiv")
                aaDIV.classList.remove("uk-child-width-1-2@s")
                aaDIV.classList.add("uk-child-width-1-1@s")
                var texts = document.getElementsByClassName("large-text")

                for (var i = 0; i < texts.length; i++) {
                    texts[i].style.overflow = "hidden"
                }

            }
            else {
                var aaDIV = document.getElementById("DGparentDiv")
                aaDIV.classList.add("uk-child-width-1-2@s")
                aaDIV.classList.remove("uk-child-width-1-1@s")
            }
        }
        $(document).ready(function () {
            checkWidthDG();
        })
        window.addEventListener("resize", function () {
            checkWidthDG();
        });        
    </script>


</body>
