<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-167171727-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-167171727-1');
    </script>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-W7B7P7X');</script>
    <!-- End Google Tag Manager -->
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W7B7P7X"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    <!-- Third Section Description Banner -->
    <!--
    <div class="uk-grid-collapse uk-text-center section-title" uk-grid>
        <div class="uk-width-expand">
            <div class="uk-card uk-card-default  uk-card-body" id="sixth-section">
                <h3 id="sixth-section-title">Cumpleaños y Aniversarios de Junio!</h3>
            </div>
        </div>
    </div>
    -->


    <div style="text-align: center; padding-bottom: 80px;">
        <a class="uk-button uk-button-default" href="#modal-full" style="background-color: #ff93b8;" id="birthday-button" uk-toggle>
            Mira quiénes cumplen años y/o aniversarios
            <div class="uk-width-auto">
                <img class="uk-border-circle" width="40" height="40" src="img/birthday.png">
            </div>
            <div class="uk-width-auto">
                <img class="uk-border-circle" width="40" height="40" src="img/anniversary.png">
            </div>
        </a>

        <div id="modal-full" class="uk-modal-full" uk-modal>
            <div class="uk-modal-dialog" style="background-color: white; height: 100vh;">
                <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
                    <div class="uk-child-width-1-6@s uk-grid-small uk-grid-match" uk-grid style="background-color: white;">
                        <div>
                            <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="40" height="40" src="img/girl.png">
                                </div>
                                <div style="padding-top: 8px;">
                                    <p class="" style="margin: 0; padding: 0;">Teresa Diaz</p>
                                    <p class="" style="margin: 0; padding: 0;">2 de junio</p>
                                </div>
                
                                <div style="padding-top: 12px;">
                                    <div class="uk-width-auto">
                                        <img class="uk-border-circle" width="40" height="40" src="img/birthday.png">
                                    </div>
                                    <p class="" style="margin: 0; padding: 0;">Feliz Cumpleaños!</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="40" height="40" src="img/girl.png">
                                </div>
                                <div style="padding-top: 8px;">
                                    <p class="" style="margin: 0; padding: 0;">Angelica Lazo</p>
                                    <p class="" style="margin: 0; padding: 0;">2 de junio</p>
                                </div>
                
                                <div style="padding-top: 12px;">
                                    <div class="uk-width-auto">
                                        <img class="uk-border-circle" width="40" height="40" src="img/birthday.png">
                                    </div>
                                    <p class="" style="margin: 0; padding: 0;">Feliz Cumpleaños!</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="40" height="40" src="img/profile-men.svg">
                                </div>
                                <div style="padding-top: 8px;">
                                    <p class="" style="margin: 0; padding: 0;">Jose Antonio Avilez</p>
                                    <p class="" style="margin: 0; padding: 0;">3 de junio</p>
                                </div>
                
                                <div style="padding-top: 12px;">
                                    <div class="uk-width-auto">
                                        <img class="uk-border-circle" width="40" height="40" src="img/birthday.png">
                                    </div>
                                    <p class="" style="margin: 0; padding: 0;">Feliz Cumpleaños!</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="40" height="40" src="img/profile-men.svg">
                                </div>
                                <div style="padding-top: 8px;">
                                    <p class="" style="margin: 0; padding: 0;">Jenson Jabar</p>
                                    <p class="" style="margin: 0; padding: 0;">3 de junio</p>
                                </div>
                
                                <div style="padding-top: 12px;">
                                    <div class="uk-width-auto">
                                        <img class="uk-border-circle" width="40" height="40" src="img/birthday.png">
                                    </div>
                                    <p class="" style="margin: 0; padding: 0;">Feliz Cumpleaños!</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="40" height="40" src="img/profile-men.svg">
                                </div>
                                <div style="padding-top: 8px;">
                                    <p class="" style="margin: 0; padding: 0;">Jesus Carrion</p>
                                    <p class="" style="margin: 0; padding: 0;">6 de junio</p>
                                </div>
                
                                <div style="padding-top: 12px;">
                                    <div class="uk-width-auto">
                                        <img class="uk-border-circle" width="40" height="40" src="img/birthday.png">
                                    </div>
                                    <p class="" style="margin: 0; padding: 0;">Feliz Cumpleaños!</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="40" height="40" src="img/girl.png">
                                </div>
                                <div style="padding-top: 8px;">
                                    <p class="" style="margin: 0; padding: 0;">Rossana de la Quintana</p>
                                    <p class="" style="margin: 0; padding: 0;">7 de junio</p>
                                </div>
                
                                <div style="padding-top: 12px;">
                                    <div class="uk-width-auto">
                                        <img class="uk-border-circle" width="40" height="40" src="img/birthday.png">
                                    </div>
                                    <p class="" style="margin: 0; padding: 0;">Feliz Cumpleaños!</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="uk-child-width-1-6@s uk-grid-small uk-grid-match" uk-grid style="background-color: white;">
                        <div>
                            <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="40" height="40" src="img/profile-men.svg">
                                </div>
                                <div style="padding-top: 8px;">
                                    <p class="" style="margin: 0; padding: 0;">Jhony Santiago</p>
                                    <p class="" style="margin: 0; padding: 0;">9 de junio</p>
                                </div>
                
                                <div style="padding-top: 12px;">
                                    <div class="uk-width-auto">
                                        <img class="uk-border-circle" width="40" height="40" src="img/birthday.png">
                                    </div>
                                    <p class="" style="margin: 0; padding: 0;">Feliz Cumpleaños!</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="40" height="40" src="img/girl.png">
                                </div>
                                <div style="padding-top: 8px;">
                                    <p class="" style="margin: 0; padding: 0;">Andrea Rodriguez</p>
                                    <p class="" style="margin: 0; padding: 0;">10 de junio</p>
                                </div>
                
                                <div style="padding-top: 12px;">
                                    <div class="uk-width-auto">
                                        <img class="uk-border-circle" width="40" height="40" src="img/birthday.png">
                                    </div>
                                    <p class="" style="margin: 0; padding: 0;">Feliz Cumpleaños!</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="40" height="40" src="img/profile-men.svg">
                                </div>
                                <div style="padding-top: 8px;">
                                    <p class="" style="margin: 0; padding: 0;">Miguel Rivera</p>
                                    <p class="" style="margin: 0; padding: 0;">11 de junio</p>
                                </div>
                
                                <div style="padding-top: 12px;">
                                    <div class="uk-width-auto">
                                        <img class="uk-border-circle" width="40" height="40" src="img/birthday.png">
                                    </div>
                                    <p class="" style="margin: 0; padding: 0;">Feliz Cumpleaños!</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="40" height="40" src="img/profile-men.svg">
                                </div>
                                <div style="padding-top: 8px;">
                                    <p class="" style="margin: 0; padding: 0;">Luis Antonio Castillo</p>
                                    <p class="" style="margin: 0; padding: 0;">13 de junio</p>
                                </div>
                
                                <div style="padding-top: 12px;">
                                    <div class="uk-width-auto">
                                        <img class="uk-border-circle" width="40" height="40" src="img/birthday.png">
                                    </div>
                                    <p class="" style="margin: 0; padding: 0;">Feliz Cumpleaños!</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="40" height="40" src="img/profile-men.svg">
                                </div>
                                <div style="padding-top: 8px;">
                                    <p class="" style="margin: 0; padding: 0;">Pablo Azabache</p>
                                    <p class="" style="margin: 0; padding: 0;">14 de junio</p>
                                </div>
                
                                <div style="padding-top: 12px;">
                                    <div class="uk-width-auto">
                                        <img class="uk-border-circle" width="40" height="40" src="img/birthday.png">
                                    </div>
                                    <p class="" style="margin: 0; padding: 0;">Feliz Cumpleaños!</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="40" height="40" src="img/girl.png">
                                </div>
                                <div style="padding-top: 8px;">
                                    <p class="" style="margin: 0; padding: 0;">Mariella Gutierrez</p>
                                    <p class="" style="margin: 0; padding: 0;">15 de junio</p>
                                </div>
                
                                <div style="padding-top: 12px;">
                                    <div class="uk-width-auto">
                                        <img class="uk-border-circle" width="40" height="40" src="img/birthday.png">
                                    </div>
                                    <p class="" style="margin: 0; padding: 0;">Feliz Cumpleaños!</p>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="uk-child-width-1-6@s uk-grid-small uk-grid-match" uk-grid style="background-color: white;"> 
                        <div>
                            <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="40" height="40" src="img/profile-men.svg">
                                </div>
                                <div style="padding-top: 8px;">
                                    <p class="" style="margin: 0; padding: 0;">Nestor Miranda</p>
                                    <p class="" style="margin: 0; padding: 0;">19 de junio</p>
                                </div>
                
                                <div style="padding-top: 12px;">
                                    <div class="uk-width-auto">
                                        <img class="uk-border-circle" width="40" height="40" src="img/birthday.png">
                                    </div>
                                    <p class="" style="margin: 0; padding: 0;">Feliz Cumpleaños!</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="40" height="40" src="img/girl.png">
                                </div>
                                <div style="padding-top: 8px;">
                                    <p class="" style="margin: 0; padding: 0;">Janet Mañuico</p>
                                    <p class="" style="margin: 0; padding: 0;">19 de junio</p>
                                </div>
                
                                <div style="padding-top: 12px;">
                                    <div class="uk-width-auto">
                                        <img class="uk-border-circle" width="40" height="40" src="img/birthday.png">
                                    </div>
                                    <p class="" style="margin: 0; padding: 0;">Feliz Cumpleaños!</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="40" height="40" src="img/girl.png">
                                </div>
                                <div style="padding-top: 8px;">
                                    <p class="" style="margin: 0; padding: 0;">Carolina Laverianno</p>
                                    <p class="" style="margin: 0; padding: 0;">22 de junio</p>
                                </div>
                
                                <div style="padding-top: 12px;">
                                    <div class="uk-width-auto">
                                        <img class="uk-border-circle" width="40" height="40" src="img/birthday.png">
                                    </div>
                                    <p class="" style="margin: 0; padding: 0;">Feliz Cumpleaños!</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="40" height="40" src="img/profile-men.svg">
                                </div>
                                <div style="padding-top: 8px;">
                                    <p class="" style="margin: 0; padding: 0;">Marlo Miranda</p>
                                    <p class="" style="margin: 0; padding: 0;">27 de junio</p>
                                </div>
                
                                <div style="padding-top: 12px;">
                                    <div class="uk-width-auto">
                                        <img class="uk-border-circle" width="40" height="40" src="img/birthday.png">
                                    </div>
                                    <p class="" style="margin: 0; padding: 0;">Feliz Cumpleaños!</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="40" height="40" src="img/profile-men.svg">
                                </div>
                                <div style="padding-top: 8px;">
                                    <p class="" style="margin: 0; padding: 0;">Nestor Simon</p>
                                    <p class="" style="margin: 0; padding: 0;">29 de junio</p>
                                </div>
                
                                <div style="padding-top: 12px;">
                                    <div class="uk-width-auto">
                                        <img class="uk-border-circle" width="40" height="40" src="img/birthday.png">
                                    </div>
                                    <p class="" style="margin: 0; padding: 0;">Feliz Cumpleaños!</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="40" height="40" src="img/profile-men.svg">
                                </div>
                                <div style="padding-top: 8px;">
                                    <p class="" style="margin: 0; padding: 0;">Enrique Mendez</p>
                                    <p class="" style="margin: 0; padding: 0;">29 de junio</p>
                                </div>
                
                                <div style="padding-top: 12px;">
                                    <div class="uk-width-auto">
                                        <img class="uk-border-circle" width="40" height="40" src="img/birthday.png">
                                    </div>
                                    <p class="" style="margin: 0; padding: 0;">Feliz Cumpleaños!</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="uk-child-width-1-6@s uk-grid-small uk-grid-match" uk-grid style="background-color: white;">  
                        <div>
                            <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="40" height="40" src="img/girl.png">
                                </div>
                                <div style="padding-top: 8px;">
                                    <p class="" style="margin: 0; padding: 0;">July Sotelo</p>
                                    <p class="" style="margin: 0; padding: 0;">29 de junio</p>
                                </div>
                
                                <div style="padding-top: 12px;">
                                    <div class="uk-width-auto">
                                        <img class="uk-border-circle" width="40" height="40" src="img/birthday.png">
                                    </div>
                                    <p class="" style="margin: 0; padding: 0;">Feliz Cumpleaños!</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="40" height="40" src="img/girl.png">
                                </div>
                                <div style="padding-top: 8px;">
                                    <p class="" style="margin: 0; padding: 0;">Dayana Humani</p>
                                    <p class="" style="margin: 0; padding: 0;">30 de junio</p>
                                </div>
                
                                <div style="padding-top: 12px;">
                                    <div class="uk-width-auto">
                                        <img class="uk-border-circle" width="40" height="40" src="img/birthday.png">
                                    </div>
                                    <p class="" style="margin: 0; padding: 0;">Feliz Cumpleaños!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                        
                    <div class="uk-child-width-1-6@s uk-grid-small uk-grid-match" uk-grid style="background-color: white; margin: 0; padding-top: 15px;">  
                        <div>
                            <div class="uk-card uk-card-default uk-card-small uk-card-body uk-align-center" style="text-align: center;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="40" height="40" src="img/profile-men.svg">
                                </div>
                                <div style="padding-top: 8px;">
                                    <p class="" style="margin: 0; padding: 0;">Aldo Chavez</p>
                                    <p class="" style="margin: 0; padding: 0;">1 de junio - 3 años en BBVA</p>
                                </div>
                
                                <div style="padding-top: 12px;">
                                    <div class="uk-width-auto">
                                        <img class="uk-border-circle" width="40" height="40" src="img/anniversary.png">
                                    </div>
                                    <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="40" height="40" src="img/profile-men.svg">
                                </div>
                                <div style="padding-top: 8px;">
                                    <p class="" style="margin: 0; padding: 0;">Pedro Olivos</p>
                                    <p class="" style="margin: 0; padding: 0;">1 de junio - 12 años en BBVA</p>
                                </div>
                
                                <div style="padding-top: 12px;">
                                    <div class="uk-width-auto">
                                        <img class="uk-border-circle" width="40" height="40" src="img/anniversary.png">
                                    </div>
                                    <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="40" height="40" src="img/girl.png">
                                </div>
                                <div style="padding-top: 8px;">
                                    <p class="" style="margin: 0; padding: 0;">Rocio Vargas</p>
                                    <p class="" style="margin: 0; padding: 0;">1 de junio - 12 años en BBVA</p>
                                </div>
                
                                <div style="padding-top: 12px;">
                                    <div class="uk-width-auto">
                                        <img class="uk-border-circle" width="40" height="40" src="img/anniversary.png">
                                    </div>
                                    <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="40" height="40" src="img/profile-men.svg">
                                </div>
                                <div style="padding-top: 8px;">
                                    <p class="" style="margin: 0; padding: 0;">Cesar Pacheco</p>
                                    <p class="" style="margin: 0; padding: 0;">1 de junio - 1 años en BBVA</p>
                                </div>
                
                                <div style="padding-top: 12px;">
                                    <div class="uk-width-auto">
                                        <img class="uk-border-circle" width="40" height="40" src="img/anniversary.png">
                                    </div>
                                    <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="40" height="40" src="img/profile-men.svg">
                                </div>
                                <div style="padding-top: 8px;">
                                    <p class="" style="margin: 0; padding: 0;">Edson Apari</p>
                                    <p class="" style="margin: 0; padding: 0;">1 de junio - 3 años en BBVA</p>
                                </div>
                
                                <div style="padding-top: 12px;">
                                    <div class="uk-width-auto">
                                        <img class="uk-border-circle" width="40" height="40" src="img/anniversary.png">
                                    </div>
                                    <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="40" height="40" src="img/girl.png">
                                </div>
                                <div style="padding-top: 8px;">
                                    <p class="" style="margin: 0; padding: 0;">Ana Kishimoto </p>
                                    <p class="" style="margin: 0; padding: 0;">1 de junio - 38 años en BBVA</p>
                                </div>
                
                                <div style="padding-top: 12px;">
                                    <div class="uk-width-auto">
                                        <img class="uk-border-circle" width="40" height="40" src="img/anniversary.png">
                                    </div>
                                    <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                                </div>
                            </div>
                        </div>
                    </div>  
                    
                    <div class="uk-child-width-1-6@s uk-grid-small uk-grid-match" uk-grid style="background-color: white; margin: 0; padding-top: 15px;">  
                        <div>
                            <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="40" height="40" src="img/profile-men.svg">
                                </div>
                                <div style="padding-top: 8px;">
                                    <p class="" style="margin: 0; padding: 0;">Dennis Delgado</p>
                                    <p class="" style="margin: 0; padding: 0;">1 de junio - 3 años en BBVA</p>
                                </div>
                
                                <div style="padding-top: 12px;">
                                    <div class="uk-width-auto">
                                        <img class="uk-border-circle" width="40" height="40" src="img/anniversary.png">
                                    </div>
                                    <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="40" height="40" src="img/profile-men.svg">
                                </div>
                                <div style="padding-top: 8px;">
                                    <p class="" style="margin: 0; padding: 0;">Cesar Valdivia</p>
                                    <p class="" style="margin: 0; padding: 0;">1 de junio - 5 años en BBVA</p>
                                </div>
                
                                <div style="padding-top: 12px;">
                                    <div class="uk-width-auto">
                                        <img class="uk-border-circle" width="40" height="40" src="img/anniversary.png">
                                    </div>
                                    <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="40" height="40" src="img/profile-men.svg">
                                </div>
                                <div style="padding-top: 8px;">
                                    <p class="" style="margin: 0; padding: 0;">Juan Mallma</p>
                                    <p class="" style="margin: 0; padding: 0;">1 de junio - 12 años en BBVA</p>
                                </div>
                
                                <div style="padding-top: 12px;">
                                    <div class="uk-width-auto">
                                        <img class="uk-border-circle" width="40" height="40" src="img/anniversary.png">
                                    </div>
                                    <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="uk-card uk-card-default uk-card-small uk-card-body uk-align-center" style="text-align: center;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="40" height="40" src="img/profile-men.svg">
                                </div>
                                <div style="padding-top: 8px;">
                                    <p class="" style="margin: 0; padding: 0;">Said Mejia</p>
                                    <p class="" style="margin: 0; padding: 0;">5 de junio - 3 años en BBVA</p>
                                </div>
                
                                <div style="padding-top: 12px;">
                                    <div class="uk-width-auto">
                                        <img class="uk-border-circle" width="40" height="40" src="img/anniversary.png">
                                    </div>
                                    <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="uk-card uk-card-default uk-card-small uk-card-body uk-align-center" style="text-align: center;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="40" height="40" src="img/profile-men.svg">
                                </div>
                                <div style="padding-top: 8px;">
                                    <p class="" style="margin: 0; padding: 0;">Jhony Santiago</p>
                                    <p class="" style="margin: 0; padding: 0;">5 de junio - 3 años en BBVA</p>
                                </div>
                
                                <div style="padding-top: 12px;">
                                    <div class="uk-width-auto">
                                        <img class="uk-border-circle" width="40" height="40" src="img/anniversary.png">
                                    </div>
                                    <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="uk-card uk-card-default uk-card-small uk-card-body uk-align-center" style="text-align: center;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="40" height="40" src="img/profile-men.svg">
                                </div>
                                <div style="padding-top: 8px;">
                                    <p class="" style="margin: 0; padding: 0;">Victor David</p>
                                    <p class="" style="margin: 0; padding: 0;">5 de junio - 18 años en BBVA</p>
                                </div>
                
                                <div style="padding-top: 12px;">
                                    <div class="uk-width-auto">
                                        <img class="uk-border-circle" width="40" height="40" src="img/anniversary.png">
                                    </div>
                                    <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="uk-child-width-1-6@s uk-grid-small uk-grid-match" uk-grid style="background-color: white; margin: 0; padding-top: 15px;">  
                        <div>
                            <div class="uk-card uk-card-default uk-card-small uk-card-body uk-align-center" style="text-align: center;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="40" height="40" src="img/girl.png">
                                </div>
                                <div style="padding-top: 8px;">
                                    <p class="" style="margin: 0; padding: 0;">Clara Gamarra</p>
                                    <p class="" style="margin: 0; padding: 0;">15 de junio - 2 años en BBVA</p>
                                </div>
                
                                <div style="padding-top: 12px;">
                                    <div class="uk-width-auto">
                                        <img class="uk-border-circle" width="40" height="40" src="img/anniversary.png">
                                    </div>
                                    <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="uk-card uk-card-default uk-card-small uk-card-body uk-align-center" style="text-align: center;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="40" height="40" src="img/profile-men.svg">
                                </div>
                                <div style="padding-top: 8px;">
                                    <p class="" style="margin: 0; padding: 0;">Edgar Bendezu </p>
                                    <p class="" style="margin: 0; padding: 0;">15 de junio - 5 años en BBVA</p>
                                </div>
                
                                <div style="padding-top: 12px;">
                                    <div class="uk-width-auto">
                                        <img class="uk-border-circle" width="40" height="40" src="img/anniversary.png">
                                    </div>
                                    <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="uk-card uk-card-default uk-card-small uk-card-body uk-align-center" style="text-align: center;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="40" height="40" src="img/girl.png">
                                </div>
                                <div style="padding-top: 8px;">
                                    <p class="" style="margin: 0; padding: 0;">Andrea Lugaro</p>
                                    <p class="" style="margin: 0; padding: 0;">15 de junio - 5 años en BBVA</p>
                                </div>
                
                                <div style="padding-top: 12px;">
                                    <div class="uk-width-auto">
                                        <img class="uk-border-circle" width="40" height="40" src="img/anniversary.png">
                                    </div>
                                    <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="uk-card uk-card-default uk-card-small uk-card-body uk-align-center" style="text-align: center;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="40" height="40" src="img/profile-men.svg">
                                </div>
                                <div style="padding-top: 8px;">
                                    <p class="" style="margin: 0; padding: 0;">Miguel Guffanti</p>
                                    <p class="" style="margin: 0; padding: 0;">15 de junio - 5 años en BBVA</p>
                                </div>
                
                                <div style="padding-top: 12px;">
                                    <div class="uk-width-auto">
                                        <img class="uk-border-circle" width="40" height="40" src="img/anniversary.png">
                                    </div>
                                    <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="uk-card uk-card-default uk-card-small uk-card-body uk-align-center" style="text-align: center;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="40" height="40" src="img/girl.png">
                                </div>
                                <div style="padding-top: 8px;">
                                    <p class="" style="margin: 0; padding: 0;">Alfredo Peña</p>
                                    <p class="" style="margin: 0; padding: 0;">17 de junio - 7 años en BBVA</p>
                                </div>
                
                                <div style="padding-top: 12px;">
                                    <div class="uk-width-auto">
                                        <img class="uk-border-circle" width="40" height="40" src="img/anniversary.png">
                                    </div>
                                    <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                                </div>
                            </div>
                        </div>
                        <div style="background-color: white;">
                            <div class="uk-card uk-card-default uk-card-small uk-card-body uk-align-center" style="text-align: center;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="40" height="40" src="img/girl.png">
                                </div>
                                <div style="padding-top: 8px;">
                                    <p class="" style="margin: 0; padding: 0;">Jenny Rojas</p>
                                    <p class="" style="margin: 0; padding: 0;">24 de junio - 7 años en BBVA</p>
                                </div>
                
                                <div style="padding-top: 12px;">
                                    <div class="uk-width-auto">
                                        <img class="uk-border-circle" width="40" height="40" src="img/anniversary.png">
                                    </div>
                                    <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>   
    </div>
</body>
