<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-167171727-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-167171727-1');
    </script>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-W7B7P7X');</script>
    <!-- End Google Tag Manager -->
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W7B7P7X"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    <!--section title or not?-->
    <div class="uk-grid-collapse uk-child-width-expand@s uk-text-center nav_align" uk-grid>
        <div>
            <div class=" uk-card-body">
                <a href="#advancedAnalytics" style="text-decoration: none;">
                    <h3>Advanced Analytics</h3>
                    <img src="img/amarello.svg" alt=""> 
                </a>
            </div>
        </div>
        <div>
            <div class=" uk-card-body">
                <a href="#dataGovernance" style="text-decoration: none;">
                    <h3>Data Governance </h3>
                    <img src="img/blua.svg" alt="">
                </a>
            </div>
        </div>
        <div>
            <div class=" uk-card-body">
                <a href="#arqDh" style="text-decoration: none;">
                    <h3>¿Sabías qué?</h3>
                    <img src="img/morak.svg" alt="">
                </a>
            </div>
        </div>
        <div>
            <div class="uk-card-body">
                <a href="#acknowledgment" style="text-decoration: none;">
                    <h3>Reconocimientos</h3>
                    <img src="img/contribute.svg" width="58" alt="">
                </a>
            </div>
        </div>
    </div>
</body>